/*CARACTERISTICAS GENERALES*/
*{
    font-family: "Cormorant";
}


/*COLORES DEL SITIO
background-color: #f6c479;
background-color: rgb(04,23,68);
*/

/* -----ENCABEZADO----- */
header{
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: rgb(04,23,68);
}

header img{
width: 10vw;
margin-left: 2vw;
display: inline;
background-color: rgb(04,23,68);
}

header h1{
    color: white;
    display: inline;
    background-color: rgb(04,23,68);
}


/* -----MENU DE NAVEGACION----- */
nav{
    /*alineacion y ubicacion*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*tamaño y espacio*/
    list-style:none;
    box-sizing: border-box;
    font-weight: 700;
    margin: auto;
}

/*opciones del menu*/
.opcion_menu_nav{
    display: inline;
    list-style: none;
    color:rgb(04,23,68);
    text-transform: uppercase;
    text-align: center;
    border-top: 5px solid #f6c479;
    background: transparent;
    padding-top: 2px;
    margin-right: 3vw;
}

/*seccion principal*/
main{
    text-align: center;
}

/*-----pie de pagina-----*/
footer{
    color: rgb(129, 129, 129);
    text-align: center;
    background-color: rgb(04,23,68);
    padding-top: 2vw;
    padding-bottom: 2vw;
}

footer img{
    display: inline;
}

footer p{
    display: inline;
    background-color: rgb(04,23,68);
}

/* ------AJUSTES DEL SITIO------*/
a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto del elemento padre */
}

/*_________________FORMULARIO*/
.formulario{
    background-color: black;
    padding: 5% 5%
}

.formulario_input{
    color: white;
    margin: auto;
    padding: 2%;
    width: 60%;
    border: none;
    border-top: 1px solid white;
    background-color: transparent;
}

.formulario_submit{
    width: 35%;
    color: white;
    background-color:black;
    text-transform: uppercase;

        /*alineacion y ubicacion*/
        display: flex;
        justify-content: center;
        align-items: center;
}

/* ________________UBIACION*/
#ubicacion{
    box-sizing: content-box;
    
    /*alineacion y ubicacion*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal_sobremi{
    margin-left: auto;
    margin-right: auto;
    padding: 5vw;
}