/*CARACTERISTICAS GENERALES*/
*{
    background-color: #FFFFFF;
}

/*COLORES DEL SITIO
background-color: #f6c479;
background-color: rgb(04,23,68);
*/

/* -----ENCABEZADO----- */
header{
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: rgb(04,23,68);
}

header img{
width: 10vw;
margin-left: 2vw;
display: inline;
background-color: rgb(04,23,68);
}

header h1{
    color: white;
    display: inline;
    background-color: rgb(04,23,68);
}


/* -----MENU DE NAVEGACION----- */
nav{
    display: inline;
    list-style:none;
    box-sizing: content-box;
    margin-left:auto;
    margin-right:auto;
}

/* -----opciones del menu-nav----- */
nav li{
    display: inline;
    list-style: none;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding:2vw;;
    background-position: center;

}

main{
    text-align: center;
}

/*-----pie de pagina-----*/
footer{
    color: rgb(129, 129, 129);
    text-align: center;
    background-color: rgb(04,23,68);
    padding-top: 2vw;
    padding-bottom: 2vw;
}

footer img{
    display: inline;
}

footer p{
    display: inline;
    background-color: rgb(04,23,68);
}

/* ------AJUSTES DEL SITIO------*/


/*_________________FORMULARIO*/
.formulario{
    background-color: black;
    padding: 5% 5%
}

.formulario_input{
    color: white;
    margin: auto;
    padding: 2%;
    width: 60%;
    border: none;
    border-top: 1px solid white;
    background-color: transparent;
}

.formulario_submit{
    width: 40%;
    color: white;
    margin: 1% 15%;
    background-color:black;
    text-transform: uppercase;
}

/* ________________UBIACION*/
#ubicacion{
    box-sizing: content-box;
    margin-left:auto;
    margin-right: auto;
    padding-left: 15%;
}

#principal_sobremi{
    margin-left: auto;
    margin-right: auto;
    padding: 5vw;
}