/*CARACTERISTICAS GENERALES*/
*{
    font-family:'Times New Roman', Times, serif;
}

/* ------GENERAL------*/
a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto del elemento padre */
}

/* PALETA DE COLORES
Amarillo
background-color: #f6c479;

Azul
background-color: rgb(04,23,68);
*/

/* FUENTES ESPECIALES
1: archivo txt
2: link google fonts

font-family: "Cormorant";
font-family: "Lancelot";
*/

/* -----ENCABEZADO----- */
header{
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: rgb(04,23,68);
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items:center;
}

header img{
width: 10%;
display: inline;
background-color: rgb(04,23,68);
padding-left: 1vw;
}

header h1{
    font-family: "Cormorant";
    color: white;
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: rgb(04,23,68);
    font-size: 4vw;
    padding-left: 1vw;
}


/* ....MENU DE NAVEGACION.... */
.menu{
    /* ....alineacion y ubicacion.... */
    display: flex;
    box-sizing: border-box;
    justify-content:space-evenly;
    align-items:center;

    /* ....apariencia.... */
    list-style:none;
    font-weight:400;
    padding: 0;
    margin: 0;
    background-color: rgb(04,23,68);
}

/* ....opciones del menu.... */
.opcion_menu_nav{
    display: inline;
    list-style: none;
    color: white;
    background: transparent;
    border-top: 5px solid #f6c479;
    margin-right: 3vw;

    font-family: "Lancelot";
    text-transform: uppercase;
    text-align: center;
}

/* -----pie de pagina----- */
footer{
    color: rgb(129, 129, 129);
    text-align: center;
    background-color: rgb(04,23,68);
    padding-top: 2vw;
    padding-bottom: 2vw;
}

footer img{
    display: inline;
    width: 3vw;
}

footer p{
    display: block;
    background-color: transparent;
}


/* ....Seccion Principal.... */

/* ....INDEX.... */
main{
    text-align: center;
    align-items:center;
    background-color: transparent;
}

/* ....Presentacion del inicio.... */
/* ....(contenedor).... */
.card_sobremi{
/*colores, bordes*/
color: white;
background-color:  rgb(04,23,68);
border: 2px solid black;
box-shadow: black;
border-radius: 15px;

/*apariencia y tamaño*/
display: flex;
flex-direction: column;
flex-wrap: wrap;
position: sticky;
box-sizing: border-box;
width: 45%;

margin:auto;
margin-top: 10px;
margin-bottom: 2%;
padding: 2vw;
justify-content: center;
align-items: center;
}


.card_sobremi h2{
    text-transform: initial;
    font-size: 60px;
    font-style: italic;
    margin: 0%;
    padding: 0%;
    text-align: center;

    display: inline-block;
    position: relative;
}

.card_sobremi p{
    text-align: justify;
    margin: 0%;
    overflow: visible;

    font-family: "Lancelot";
}

.card_sobremi img{
    height:35vw;
    margin: 1vw;
    margin-left: 0;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* establecer un punto de quiebre, se suele hace al final y se usan varios tamaños: 
@media (max-widt: 600px){
    .card_sobremi{
    
    }
}

*/

/* ....SECCION CONTACTOS.... */
.title_contactame{
    background-color: rgb(04,23,68);
    color: white;
    margin: 0;
    padding:  5vh 5vw 0 5vw;
    font-family:"Cormorant";
    font-size: 15vw;
    text-transform: capitalize;
}

/*_________________FORMULARIO*/
.formulario{
    background-color: rgb(04,23,68);
    padding: 5% 5%;
    margin-top: 0;
    padding-top: 0;
}

.formulario_input{
    color: white;
    margin: auto;
    padding: 2%;
    width: 60%;
    border: none;
    border-top: 1px solid white;
    background-color: transparent;
    box-sizing: border-box;
}

.formulario_submit{
    width: 35%;
    color: white;
    background-color: rgb(04,23,68);
    text-transform: uppercase;

        /*alineacion y ubicacion*/
        display:flexbox;
        justify-content: center;
        font-size: 30px;
        font-family: "Cormorant";
        border: 1px solid white;
}

/* ________________UBIACION*/
#ubicacion{
    box-sizing: content-box;
    
    /*alineacion y ubicacion*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal_sobremi{
    margin-left: auto;
    margin-right: auto;
    padding: 5vw;
}